<div class="content">
            <!--Page content goes here, fixed elements go above the all elements class-->
            <div class="page-login full-bottom">
                <p class="page-login-logo"></p>
                <div class="login-mail">
                    <i class="fa fa-user"></i>
                    <input ng-model='fname' type="text" placeholder='Fname' required>
                </div>
                <div class="login-mail">
                    <i class="fa fa-user"></i>
                    <input ng-model='lname' type="text" placeholder='Lname' required>
                </div>
                <div class="login-mail">
                    <i class="fa fa-envelope-o"></i>
                    <input ng-model='email' type="E-mail" placeholder='E-mail' required>
                </div>                    
                <div class="login-password">
                    <i class="fa fa-lock"></i>
                    <input ng-model='password' type="password" placeholder='Password' required>
                </div>
                <div class="login-password">
                    <i class="fa fa-phone"></i>
                    <input ng-model='phone' type="tel" placeholder='xxx-xxx-xxxx' required>
                </div>
                <div class='locations'>
                    <select class='form-control' required>
                         <option ng-model='locationID' ng-selected='locationID == location.ID' value="{{location.ID}}" ng-repeat='location in locations'>{{location.Address.City}} , {{location.Address.State}}</option>
                    </select>
                </div>
                <a ng-href='#/login' class="login-already">Already Registered?</a>
                <button ng-click='register()' class="login-button button button-small button-green button-fullscreen full-bottom"><b>Register</b></button>
            </div>
            <!-- End of entire page content-->
</div>