<div class='content'>
    <div class="container heading-style-5">
        <h4 style="font-size: 24px;" class="heading-title"><strong>Invite Friend</strong></h4>
        <i class='fa fa-user heading-icon'></i>
        <div class="line bg-black"></div>
    </div>
    <div>
        <div class='col-md-6'>
            <div ng-click='sms()' class="jumbotron text-center">
                <h2>Refer By SMS</h2>
            </div>
        </div>
        <div class='col-md-6'>
            <div ng-click='email()' class="jumbotron text-center">
                <h2>Refer By Email</h2>
            </div>
        </div>
    </div>
</div>