<div class='content'>
	<div class="container heading-style-5">
	    <h4 style="font-size: 24px;" class="heading-title"><strong>Forgot Password</strong></h4>
	    <i class='heading-icon'><img style="width: 82px;height: 82px;margin-top: -22px;margin-left: -10px;" src="images/4.png"></i>
	    <div class="line bg-black"></div>
	</div>
	<div class='row botMar'>
			<input class='form-control' style="font-size: 18px;" type="text" ng-model='email' placeholder='E-mail' required>
	</div>
	<div class='row botMar'>
			<input class='form-control' style="font-size: 18px;" type="text" ng-model='firstName' placeholder='FirstName' required>
	</div>
	<div class='row text-center'>
			<button class="login-button button button-small button-green button-fullscreen full-bottom" ng-click="sendResetLink()">Send Reset Link</button>
			<a href='#/login' class="login-button button button-small button-green button-fullscreen full-bottom btn-danger">Cancel</a>
	</div>
</div>
